*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.stopwatch {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
}
.timeDdisplay {
    font-size: 50px;
    font-weight: 600;
}
.button {
    margin-top: 20px;
}
.btn {
    font-size: 20px;
    background-color: none;
    color: #fff;
    padding: 12px 24px;
    border: none;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--clr);
}